.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
body *,
body *:after,
body *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px; }

.font--head {
  font-weight: 300;
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: 300; }

.scroll-inside {
  overflow-x: auto; }

.inner {
  margin: 0 auto;
  padding: 0 30px 0 30px; }
  @media (min-width: 940px) {
    .inner {
      max-width: 1200px; } }
  .inner:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (max-width: 940px) {
    .inner {
      padding: 0 20px 0 20px; } }

::-moz-selection {
  background: rgba(172, 172, 172, 0.5); }

::selection {
  background: rgba(172, 172, 172, 0.5); }

::-moz-selection {
  background: rgba(172, 172, 172, 0.5); }

.clear {
  clear: both; }

a,
input[type="submit"],
button {
  cursor: pointer;
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  line-height: 30px; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

[data-expandable] {
  display: none; }

a {
  color: inherit;
  text-decoration: inherit; }

b {
  font-weight: bold; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left;
  padding-right: 20px; }

body *,
body *:after,
body *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px; }

.font--head {
  font-weight: 300;
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: 300; }

.scroll-inside {
  overflow-x: auto; }

.inner {
  margin: 0 auto;
  padding: 0 30px 0 30px; }
  @media (min-width: 940px) {
    .inner {
      max-width: 1200px; } }
  .inner:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (max-width: 940px) {
    .inner {
      padding: 0 20px 0 20px; } }

::-moz-selection {
  background: rgba(172, 172, 172, 0.5); }

::selection {
  background: rgba(172, 172, 172, 0.5); }

::-moz-selection {
  background: rgba(172, 172, 172, 0.5); }

.clear {
  clear: both; }

a,
input[type="submit"],
button {
  cursor: pointer;
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  line-height: 30px; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

[data-expandable] {
  display: none; }

a {
  color: inherit;
  text-decoration: inherit; }

b {
  font-weight: bold; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left;
  padding-right: 20px; }

.navbar {
  letter-spacing: 0.36px; }
  .navbar li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px; }
    .navbar li:hover {
      color: #e84e0e;
      padding-bottom: 3px;
      border-bottom: 1px solid #e84e0e; }
  @media screen and (max-width: 940px) {
    .navbar {
      display: none; } }

.navbar__hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 30px 40px 0px 15px;
  color: #000000;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }
  @media screen and (min-width: 940px) {
    .navbar__hamburger {
      display: none; } }

.navbar__cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 35px 40px 0px 15px;
  color: #999;
  border: 0;
  font-size: 5em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }
  @media screen and (min-width: 940px) {
    .navbar__cross {
      display: none; } }

.navbar__mobile {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
  margin-top: -15px; }
  .navbar__mobile ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }
  .navbar__mobile li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid; }
  .navbar__mobile li:hover {
    display: block;
    background: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid; }
  .navbar__mobile ul li a {
    text-decoration: none;
    margin: 0px;
    color: #666; }
  .navbar__mobile ul li a:hover {
    color: #666;
    text-decoration: none; }
  .navbar__mobile a {
    text-decoration: none;
    color: #666; }
  .navbar__mobile a:hover {
    text-decoration: none;
    color: #666; }
  @media screen and (min-width: 940px) {
    .navbar__mobile {
      display: none; } }

.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto; }

.slider__wrap {
  position: relative;
  height: 454px;
  margin-top: 20px; }

.slider__next {
  position: absolute;
  right: 10%;
  top: 50%;
  background-image: url(/img/arrow-right@2x.png);
  background-size: cover;
  background-color: transparent;
  height: 54px;
  width: 30px;
  border: 0;
  z-index: 1; }

.slider__prev {
  position: absolute;
  left: 10%;
  top: 50%;
  background-image: url(/img/arrow-left@2x.png);
  background-size: cover;
  background-color: transparent;
  height: 54px;
  width: 30px;
  border: 0;
  z-index: 1; }

.slider__content {
  margin-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 99999;
  top: 0;
  left: 0; }
  @media screen and (max-width: 940px) {
    .slider__content {
      height: 300px;
      margin-top: 60px; } }

.slider__item {
  background-image: url(../img/carousel-img1@2x.png);
  background-size: cover;
  background-position: center;
  height: 454px; }

.slider__title {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 55px; }
  @media screen and (max-width: 940px) {
    .slider__title {
      line-height: 50px;
      padding: 0 0 20px 30px; } }

.slider__text {
  padding: 30px 0 30px 60px;
  max-width: 629px;
  font-size: 20px; }
  @media screen and (max-width: 940px) {
    .slider__text {
      padding: 0 0 20px 30px; } }
  @media screen and (max-width: 600px) {
    .slider__text {
      max-height: 300px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical; } }

.slider__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 600px) {
    .slider__btn {
      margin-top: 30px; } }

.btn {
  display: inline-block; }

.btn__slider {
  width: 235px;
  height: 44px;
  border: 1px solid #e84e0e;
  background-color: #ffffff;
  border-radius: 25px;
  color: #e84e0e; }
  .btn__slider:hover {
    background-color: #e84e0e;
    color: #ffffff; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #e84e0e; }
  .tooltip__text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  .tooltip__text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }
  .tooltip:hover .tooltip__text {
    visibility: visible;
    opacity: 1; }

#graph {
  height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative; }
  #graph::-webkit-scrollbar {
    display: none; }
  #graph #bars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    height: 350px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #graph #bars li {
      display: table-cell;
      width: 17px;
      height: 300px;
      margin: 0;
      text-align: center;
      position: relative; }
      #graph #bars li .bar {
        display: block;
        width: 17px;
        margin-left: 15px;
        background: #e84e0e;
        position: absolute;
        bottom: 0; }
        #graph #bars li .bar:hover {
          background: #f47f4e;
          cursor: pointer; }
          #graph #bars li .bar:hover:before {
            color: #000000;
            content: attr(data-percentage) "%";
            position: relative;
            bottom: 20px; }
      #graph #bars li .bar--2 {
        border-radius: 15px 15px 0 0; }
      #graph #bars li span {
        color: #000000;
        width: 100%;
        position: absolute;
        bottom: -4em;
        left: 0;
        text-align: center;
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.graph__logo {
  width: 30px;
  height: 42px;
  margin: 250px 0 0 -5px;
  background-image: url(/img/vektorov--inteligentn--objekt.png);
  background-size: cover; }

.graph__title {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  margin-bottom: -150px; }

.graph__wrap {
  margin: auto;
  margin-top: 50px; }

.graph__legend {
  position: absolute;
  bottom: 0;
  z-index: 999;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .graph__legend__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px; }
  .graph__legend__text {
    padding-left: 5px; }
  .graph__legend__circle {
    border-radius: 50%;
    width: 24px;
    height: 24px; }
    .graph__legend__circle--1 {
      background-color: #ffc59b; }
    .graph__legend__circle--2 {
      background-color: #f88c6c; }
    .graph__legend__circle--3 {
      background-color: #e84e0e; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 940px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .header__left {
    padding: 30px 0 0 50px; }
  .header__right {
    padding: 40px 50px 0 0; }

.header__logo {
  background-image: url(/img/logo@2x.png);
  background-size: cover;
  width: 150px;
  height: 50px; }

.main__news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  background-color: #ffffff;
  padding: 5px; }
  @media screen and (max-width: 600px) {
    .main__news {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      padding: 20px; } }
  .main__news--date {
    color: #7d7d7d;
    font-size: 12px;
    padding-right: 15px; }
  .main__news--read {
    color: #e84e0e;
    font-size: 16px;
    padding-left: 15px; }

.main__content {
  background-color: #f2f2f2;
  padding-bottom: 30px; }
  .main__content__title {
    padding: 50px 0 40px 0; }
    @media screen and (max-width: 600px) {
      .main__content__title {
        line-height: 50px; } }
  .main__content p {
    padding-bottom: 30px; }

.main__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    .main__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .main__wrap__column {
    max-width: 500px; }

.footer {
  height: 177px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff; }
  .footer__copyright {
    color: #e84e0e; }
  .footer__text a {
    color: #e84e0e; }
