$c-white: #ffffff;
$c-black: #000000;
$c-gray: #1d1d1b;
$c-gray2: #7d7d7d;;
$c-gray3: #f2f2f2;

$c-primary: #e84e0e;
$c-secondary: #78787D;

$header: 88px;

$inner: 1200px;
$sinner: 454px;

// header
$font-base: 'Open Sans', sans-serif;

// breakpoints
$break-lg: 940px;
$break-sm: 600px;
$break-xs: 320px;
