.btn {
    display: inline-block;

}

.btn__slider {
    width: 235px;
    height: 44px;
    border: 1px solid $c-primary;
    background-color: $c-white;
    border-radius: 25px;
    color: $c-primary;

    &:hover {
        background-color: $c-primary;
        color: $c-white;
    }
}
